@font-face { font-family: Beanstalk; src: url('fonts/Beanstalk.ttf'); } 
@font-face { font-family: Habbo; src: url('fonts/Habbo.ttf'); } 
@font-face { font-family: Rockboxcond12; src: url('fonts/Rockboxcond12.ttf'); } 
@font-face { font-family: MadeGentle; src: url('fonts/MADE\ Gentle\ PERSONAL\ USE.otf')}

body {
    cursor:url(resources/cursors/notHovering.png), auto;
    margin: 40px;
    font-family: Habbo;
    /* background: #4C3329; */
    background: linear-gradient(
        #4C3329 0%,
        #6A4A3C 100%
        );
    color: #D19B83;
    font-size:30px;
    
    list-style: none;
}

p {
    text-align: center;
}

h1,h2,h3,h4{
    text-align: center;
    margin: auto;
    font-family: Beanstalk;
    text-align:center;
}

div {
    /* border: 2px solid lightseagreen; */
    padding:5%;
    margin: 10px;
}

.pdf-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

iframe {
    width: 70%; /* Full width */
    height: 70vh; /* Full height of the container */
    border: none; /* No border */
    display:block;
    margin: 0;
    padding: 0;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;

    width: 70%;
    height: auto;
}

a {
    color: #F7D1AE;
}
a:hover {
    cursor:url(resources/cursors/hovering.png), pointer;
    color: #01A0B0;
}

.tabs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4C3329;
    font-family: Rockboxcond12;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}