@font-face { font-family: Beanstalk; src: url('fonts/Beanstalk.ttf'); } 
@font-face { font-family: Habbo; src: url('fonts/Habbo.ttf'); } 
@font-face { font-family: Rockboxcond12; src: url('fonts/Rockboxcond12.ttf'); } 

body {
    cursor:url(resources/cursors/notHovering.png), auto;
    margin: 40px;
    font-family: Habbo;
    /* background: rgb(20, 36, 36); */
    background: linear-gradient(
        rgb(20, 36, 36) 0%,
        rgb(14, 80, 76) 100%
        );
    color: lightseagreen;
    font-size:30px;
    text-align: center;
}
h1,h2,h3,h4{
    margin: auto;
    font-family: Beanstalk;
    text-align:center;
}



a {
    color: lightseagreen;
}
a:hover {
    cursor:url(resources/cursors/hovering.png), pointer;
    color: rgb(40, 223, 40);
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .project img{
    width: 70%;
  }

.project {
    justify-content: space-around;
    border: 2px solid lightseagreen;
    padding: 20px;
    margin: 5%;
    text-align: left;
    /* max-width: fit-content; */
    /* margin-left: auto;
    margin-right: auto; */
}

.info {
    border: none;
    margin: 5%;
}
.intro {
    margin: 50px;
}

[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}

.tabs {
    position: fixed;
    background-color: rgb(20, 36, 36);
    font-family: Rockboxcond12;
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    border: 2px solid lightseagreen;
    padding: 5px;
    /* margin: auto; */
}

.tab {
    padding: 10px;
}

.tab:hover, .tab.active{
    cursor:url(resources/cursors/hovering.png), pointer;
    color: rgb(21, 36, 36);
    background: lightseagreen;
}

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gallery figure {
    width: 30%;
    margin: 10px;
    position: relative;
}

#gallery img {
    align-content: center;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 10px #000;
}

#gallery figcaption {
    text-align: center;
    padding: 5px 0;
}

#gallery figure:hover img {
    opacity: 0.5;
    transition: 0.3s ease;
}