@font-face { font-family: Beanstalk; src: url('fonts/Beanstalk.ttf'); } 
@font-face { font-family: Habbo; src: url('fonts/Habbo.ttf'); } 
@font-face { font-family: Rockboxcond12; src: url('fonts/Rockboxcond12.ttf'); } 
@font-face { font-family: MadeGentle; src: url('fonts/MADE\ Gentle\ PERSONAL\ USE.otf'); } 
@font-face { font-family: Urbanist; src: url('fonts/Urbanist-VariableFont_wght.ttf'); } 


body {
    cursor:url(resources/cursors/notHovering.png), auto;
    margin: 40px;
    /* font-family: Habbo; */
    /* background: #4C3329; */
    font-family: Urbanist;
    background: linear-gradient(
        #4C3329 0%,
        #6A4A3C 100%
        );
    color: #D19B83;
    font-size:30px;
    text-align: center;
    list-style: none;
}
h1,h2,h3,h4{
    margin: auto;
    /* font-family: Beanstalk; */
    font-family: MadeGentle;
    /* text-align:center; */
}

a {
    color: #D19B83;
}
a:hover {
    cursor:url(resources/cursors/hovering.png), pointer;
    color: #01A0B0;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .project img{
    width: 70%;
  }

.project {
    /* color: #6A4A3C;
    justify-content: space-around;
    /* border: 2px solid #D19B83; */
    padding: 20px;
    margin: 5%;
    text-align: left;
}

[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
    margin: 80px;
    /* background-color:#4C33x29; */
}

.tabs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4C3329;
    /* font-family: Rockboxcond12; */
    font-family: MadeGentle;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 10px 0;
    margin: 0 auto;
}

.tabs li {
    flex: 1; /* Ensure equal space for each tab */
    text-align: center; /* Center align text */
}

.tab {
    padding: 10px;
}

.tab:hover, .tab.active{
    cursor:url(resources/cursors/hovering.png), pointer;
    color: #F7D1AE;
    background: #6A4A3C;
    
}

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gallery figure {
    width: 30%;
    margin: 10px;
    position: relative;
}

#gallery img {
    align-content: center;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 10px #000;
}

#gallery figcaption {
    text-align: center;
    padding: 5px 0;
}

#gallery figure:hover img {
    opacity: 0.5;
    transition: 0.3s ease;
}